*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit; /* doesn't inherit by default, so tell the browser we want to change that */
}

html {
	/* font-size: 10px; */
	font-size: 62.5%; /* now all rem measurements are based on this, which is 10px */
}

body {
	box-sizing: border-box;
	padding: 3rem;
}